<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-nota-credito-heading" data-cy="NotaCreditoCreateUpdateHeading">Crear o editar Nota Credito</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <div class="row">
          <div class="col-1 mb-3" *ngIf="editForm.controls.id.value !== null">
            <label class="form-label">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>

          <div class="col-3">
            <label class="form-label" for="field_condicionVenta">Timbrado</label>
            <select
              class="form-control"
              formControlName="timbrado"
              name="field_timbrado"
              id="id_timbrado"
              required
              (change)="obtenerSucursales()"
            >
              <option [ngValue]="null">{{ ' Seleccione un timbrado' }}</option>
              <!-- se agrego prod -->
              <option *ngFor="let item of timbrados" [value]="item.numeroTimbrado">
                {{ item.numeroTimbrado }}
              </option>
            </select>
            <div *ngIf="editForm.get('timbrado')!.invalid && (editForm.get('timbrado')!.dirty || editForm.get('timbrado')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('timbrado')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('timbrado')?.errors?.number"
                jhiTranslate="entity.validation.number"
              >
                This field should be a number.
              </small>
            </div>
          </div>

          <div class="col-2">
            <label class="form-label" for="field_sucursal">Sucursal</label>
            <select class="form-control" formControlName="sucursal" name="field_sucursal" id="id_sucursal" required (change)="obtenerPE()">
              <!-- se agrego prod -->
              <option *ngFor="let item of sucursales" [value]="item.numeroEstablecimiento">
                {{ item.numeroEstablecimiento }}
              </option>
            </select>
            <div *ngIf="editForm.get('sucursal')!.invalid && (editForm.get('sucursal')!.dirty || editForm.get('sucursal')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('sucursal')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('sucursal')?.errors?.number"
                jhiTranslate="entity.validation.number"
              >
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="col-2">
            <label class="form-label" for="field_sucursal">Punto Exp.</label>
            <select
              (change)="asignarNroFactura()"
              class="form-control"
              formControlName="puntoExpedicion"
              name="field_puntoExpedicion"
              id="id_puntoExpedicion"
              required
            >
              <!-- se agrego prod -->
              <option *ngFor="let item of puntosExpedicion" [value]="item.numeroPuntoDeExpedicion">
                {{ item.numeroPuntoDeExpedicion }}
              </option>
            </select>
            <div
              *ngIf="
                editForm.get('puntoExpedicion')!.invalid &&
                (editForm.get('puntoExpedicion')!.dirty || editForm.get('puntoExpedicion')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('puntoExpedicion')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('puntoExpedicion')?.errors?.number"
                jhiTranslate="entity.validation.number"
              >
                This field should be a number.
              </small>
            </div>
          </div>

          <!-- <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div> -->

          <!-- <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.notaCredito.fecha" for="field_fecha">Fecha</label>
          <div class="input-group">
            <input
              id="field_fecha"
              data-cy="fecha"
              type="text"
              class="form-control"
              name="fecha"
              ngbDatepicker
              #fechaDp="ngbDatepicker"
              formControlName="fecha"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('fecha')!.invalid && (editForm.get('fecha')!.dirty || editForm.get('fecha')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('fecha')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div> -->

          <!--  <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.notaCredito.timbrado" for="field_timbrado">Timbrado</label>
          <input type="number" class="form-control" name="timbrado" id="field_timbrado" data-cy="timbrado" formControlName="timbrado" />
          <div *ngIf="editForm.get('timbrado')!.invalid && (editForm.get('timbrado')!.dirty || editForm.get('timbrado')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('timbrado')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('timbrado')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>
 -->
          <div class="col-2">
            <label class="form-label" for="field_notaNro">Nota Nro</label>
            <input type="text" class="form-control" name="notaNro" id="field_notaNro" data-cy="notaNro" formControlName="notaNro" />
            <div *ngIf="editForm.get('notaNro')!.invalid && (editForm.get('notaNro')!.dirty || editForm.get('notaNro')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('notaNro')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                Este campo es obligatorio.
              </small>
            </div>
          </div>
          <div class="col-3">
            <label class="form-label">Fecha</label>
            <div class="input-group">
              <input
                id="field_fecha"
                data-cy="fecha"
                type="text"
                class="form-control"
                name="fecha"
                ngbDatepicker
                #fechaDp="ngbDatepicker"
                formControlName="fecha"
              />
              <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </div>
            <div *ngIf="editForm.get('fecha')!.invalid && (editForm.get('fecha')!.dirty || editForm.get('fecha')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('fecha')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
            </div>
          </div>

          <div class="col-2">
            <label class="form-label">RUC</label>
            <input
              (change)="updateRazonSocial()"
              type="text"
              class="form-control"
              name="ruc"
              id="field_ruc"
              data-cy="ruc"
              formControlName="ruc"
            />
            <div *ngIf="editForm.get('ruc')!.invalid && (editForm.get('ruc')!.dirty || editForm.get('ruc')!.touched)">
              <small class="form-text text-danger" *ngIf="editForm.get('ruc')?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
              </small>
            </div>
          </div>
          <div class="col-6 mb-3">
            <label class="form-label">Razón Social</label>
            <input
              type="text"
              class="form-control"
              name="razonSocial"
              id="field_razonSocial"
              data-cy="razonSocial"
              formControlName="razonSocial"
            />
            <div
              *ngIf="editForm.get('razonSocial')!.invalid && (editForm.get('razonSocial')!.dirty || editForm.get('razonSocial')!.touched)"
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('razonSocial')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
            </div>
          </div>

          <div class="col-4 mb-3">
            <!--<label class="form-label" jhiTranslate="abfApp.notaCredito.direccion" for="field_direccion">Direccion</label>-->
            <label class="form-label">Dirección</label>
            <input type="text" class="form-control" name="direccion" id="field_direccion" data-cy="direccion" formControlName="direccion" />
          </div>

          <div *ngIf="editForm.get(['facturas'])!.invalid && (editForm.get(['facturas'])!.dirty || editForm.get(['facturas'])!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get(['facturas'])?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
          <div class="col-3 mb-3">
            <label class="form-label">Motivo de emisión</label>
            <select
              class="form-control"
              name="motivoEmision"
              formControlName="motivoEmision"
              id="field_motivoEmision"
              data-cy="motivoEmision"
            >
              <option [ngValue]="null">{{ 'abfApp.Motivo.null' | translate }}</option>
              <option *ngFor="let motivo of motivoValues" [value]="motivo">{{ 'abfApp.Motivo.' + motivo | translate }}</option>
            </select>
            <div
              *ngIf="
                editForm.get('motivoEmision')!.invalid && (editForm.get('motivoEmision')!.dirty || editForm.get('motivoEmision')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('motivoEmision')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                Este campo es obligatorio.
              </small>
            </div>
          </div>

          <div class="col-3 mb-3">
            <label class="form-label">Estado</label>
            <select class="form-control" name="estado" formControlName="estado" id="field_estado" data-cy="estado">
              <option [ngValue]="null">{{ 'abfApp.EstadosFacturas.null' | translate }}</option>
              <option *ngFor="let estadosFacturas of estadosFacturasValues" [value]="estadosFacturas">
                {{ 'abfApp.EstadosFacturas.' + estadosFacturas | translate }}
              </option>
            </select>
          </div>

          <div class="col-3 mb-3">
            <label class="form-label">Total</label>
            <input type="number" class="form-control" name="total" id="field_total" data-cy="total" formControlName="total" />
            <div *ngIf="editForm.get('total')!.invalid && (editForm.get('total')!.dirty || editForm.get('total')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('total')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                Este campo es obligatorio.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('total')?.errors?.number"
                jhiTranslate="entity.validation.number"
              >
                Este campo debe ser un número.
              </small>
            </div>
          </div>

          <div class="col-3 mb-3">
            <label class="form-label">Facturas</label>
            <select
              class="form-control"
              id="field_facturas"
              data-cy="facturas"
              name="facturas"
              formControlName="facturas"
              [compareWith]="compareFacturas"
            >
              <option *ngIf="editForm.get(['facturas'])!.value == null" [ngValue]="null" selected></option>
              <option [ngValue]="facturasOption" *ngFor="let facturasOption of facturasSharedCollection">
                {{ facturasOption.sucursal + '-' + facturasOption.puntoExpedicion + '-' + facturasOption.facturaNro }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </form>
    <div>
      <h3>DETALLE NOTA CREDITO</h3>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <label class="form-label" for="field_condicionVenta">Producto/Servicio</label>
        <select class="form-control" name="prod" id="id_detalle_prod" [(ngModel)]="nuevoItem.producto" (click)="seleccionaProducto()">
          <option [ngValue]="null">{{ ' Seleccione un producto' }}</option>
          <!-- se agrego prod -->
          <option *ngFor="let item of productos" [value]="item.id">
            {{ item.descripcion }}
          </option>
        </select>
      </div>

      <div class="col-2">
        <label class="form-label" placeholder="Cantidad" for="field_total">Cantidad</label>
        <input
          type="number"
          class="form-control"
          name="total"
          id="field_total"
          (change)="calcularSubtotal()"
          [(ngModel)]="nuevoItem.cantidad"
        />
      </div>

      <div class="col-2">
        <label class="form-label" placeholder="IVA" for="field_total">IVA</label>
        <input type="number" class="form-control" name="total" id="field_total" [(ngModel)]="nuevoItem.iva" [disabled]="true" />
      </div>

      <div class="col-2">
        <label class="form-label" placeholder="IVA" for="field_total">Precio</label>
        <input
          type="number"
          class="form-control"
          name="total"
          id="field_total"
          min="0"
          (change)="calcularSubtotal()"
          [(ngModel)]="nuevoItem.precio"
        />
      </div>

      <div class="col-2">
        <label class="form-label" placeholder="Subtotal" for="field_total">Subtotal</label>
        <input type="number" class="form-control" name="total" id="field_total" min="0" [(ngModel)]="nuevoItem.subtotal" />
      </div>
      <div class="col-1 d-flex align-items-end">
        <button id="id_btn" class="btn btn-primary jh-create-entity" (click)="agregarDetalle()">
          <fa-icon icon="plus"></fa-icon>
        </button>
      </div>
    </div>

    <div class="row mb-3" *ngFor="let items of listaDetalle | keyvalue; let i = index" [attr.data-index]="i">
      <div class="row mb-3 col-3">
        <input type="text" class="form-control" id="id" [(ngModel)]="items.value.descripcionProducto" [disabled]="true" />
      </div>

      <div class="col-1">
        <input type="number" class="form-control" name="total" id="field_total" [(ngModel)]="items.value.cantidad" [disabled]="true" />
      </div>

      <div class="col-1">
        <input type="number" class="form-control" name="total" id="field_total" [(ngModel)]="items.value.iva" [disabled]="true" />
      </div>

      <div class="col-2">
        <input type="number" class="form-control" name="total" id="field_total" [(ngModel)]="items.value.precio" [disabled]="true" />
      </div>

      <div class="col-2">
        <input type="number" class="form-control" name="total" id="field_total" [(ngModel)]="items.value.subtotal" [disabled]="true" />
      </div>
      <div class="col-1 d-flex align-items-start">
        <button id="id_btn" class="btn btn-danger" (click)="eliminarDetalle(i)">
          <fa-icon icon="times"></fa-icon>
        </button>
      </div>
    </div>
    <div>
      <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
      </button>

      <button
        (click)="save()"
        type="submit"
        id="save-entity"
        data-cy="entityCreateSaveButton"
        [disabled]="editForm.invalid || isSaving"
        class="btn btn-primary"
      >
        <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
      </button>
    </div>
  </div>
</div>
