<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="alumnos">
      <h2 data-cy="alumnosDetailsHeading"><span jhiTranslate="abfApp.alumnos.detail.title">Alumnos</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ alumnos.id }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.alumnos.nombres">Nombres</span></dt>
        <dd>
          <span>{{ alumnos.nombres }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.alumnos.apellidos">Apellidos</span></dt>
        <dd>
          <span>{{ alumnos.apellidos }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.alumnos.nombreCompleto">Nombre Completo</span></dt>
        <dd>
          <span>{{ alumnos.nombreCompleto }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.alumnos.email">Email</span></dt>
        <dd>
          <span>{{ alumnos.email }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.alumnos.telefono">Telefono</span></dt>
        <dd>
          <span>{{ alumnos.telefono }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.alumnos.fechaNacimiento">Fecha Nacimiento</span></dt>
        <dd>
          <span>{{ alumnos.fechaNacimiento | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.alumnos.documento">Documento</span></dt>
        <dd>
          <span>{{ alumnos.documento }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.alumnos.estado">Estado</span></dt>
        <dd>
          <span jhiTranslate="{{ 'abfApp.EstadosPersona.' + alumnos.estado }}">{{ alumnos.estado }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.alumnos.elo">Elo</span></dt>
        <dd>
          <span>{{ alumnos.elo }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.alumnos.fideId">Fide Id</span></dt>
        <dd>
          <span>{{ alumnos.fideId }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.alumnos.tipoDocumentos">Tipo Documentos</span></dt>
        <dd>
          <div *ngIf="alumnos.tipoDocumentos">
            <a [routerLink]="['/tipos-documentos', alumnos.tipoDocumentos.id, 'view']">{{ alumnos.tipoDocumentos.descripcion }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/alumnos', alumnos.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
