<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-pagos-heading" data-cy="PagosCreateUpdateHeading" jhiTranslate="abfApp.pagos.home.createOrEditLabel">
        Crear o editar Pagos
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.pagos.montoPago" for="field_montoPago">Monto Pago</label>
          <input type="number" class="form-control" name="montoPago" id="field_montoPago" data-cy="montoPago" formControlName="montoPago" />
          <div *ngIf="editForm.get('montoPago')!.invalid && (editForm.get('montoPago')!.dirty || editForm.get('montoPago')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('montoPago')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('montoPago')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.pagos.montoInicial" for="field_montoInicial">Monto Inicial</label>
          <input
            type="number"
            class="form-control"
            name="montoInicial"
            id="field_montoInicial"
            data-cy="montoInicial"
            formControlName="montoInicial"
          />
          <div
            *ngIf="editForm.get('montoInicial')!.invalid && (editForm.get('montoInicial')!.dirty || editForm.get('montoInicial')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('montoInicial')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('montoInicial')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.pagos.saldo" for="field_saldo">Saldo</label>
          <input type="number" class="form-control" name="saldo" id="field_saldo" data-cy="saldo" formControlName="saldo" />
          <div *ngIf="editForm.get('saldo')!.invalid && (editForm.get('saldo')!.dirty || editForm.get('saldo')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('saldo')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('saldo')?.errors?.number" jhiTranslate="entity.validation.number">
              Este campo debe ser un número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.pagos.fechaRegistro" for="field_fechaRegistro">Fecha Registro</label>
          <div class="input-group">
            <input
              id="field_fechaRegistro"
              data-cy="fechaRegistro"
              type="text"
              class="form-control"
              name="fechaRegistro"
              ngbDatepicker
              #fechaRegistroDp="ngbDatepicker"
              formControlName="fechaRegistro"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaRegistroDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="
              editForm.get('fechaRegistro')!.invalid && (editForm.get('fechaRegistro')!.dirty || editForm.get('fechaRegistro')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fechaRegistro')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.pagos.fechaPago" for="field_fechaPago">Fecha Pago</label>
          <div class="input-group">
            <input
              id="field_fechaPago"
              data-cy="fechaPago"
              type="text"
              class="form-control"
              name="fechaPago"
              ngbDatepicker
              #fechaPagoDp="ngbDatepicker"
              formControlName="fechaPago"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaPagoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('fechaPago')!.invalid && (editForm.get('fechaPago')!.dirty || editForm.get('fechaPago')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fechaPago')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.pagos.tipoPago" for="field_tipoPago">Tipo Pago</label>
          <input type="text" class="form-control" name="tipoPago" id="field_tipoPago" data-cy="tipoPago" formControlName="tipoPago" />
          <div *ngIf="editForm.get('tipoPago')!.invalid && (editForm.get('tipoPago')!.dirty || editForm.get('tipoPago')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tipoPago')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.pagos.descripcion" for="field_descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
          <div *ngIf="editForm.get('descripcion')!.invalid && (editForm.get('descripcion')!.dirty || editForm.get('descripcion')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('descripcion')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.pagos.idUsuarioRegistro" for="field_idUsuarioRegistro">Id Usuario Registro</label>
          <input
            type="number"
            class="form-control"
            name="idUsuarioRegistro"
            id="field_idUsuarioRegistro"
            data-cy="idUsuarioRegistro"
            formControlName="idUsuarioRegistro"
          />
          <div
            *ngIf="
              editForm.get('idUsuarioRegistro')!.invalid &&
              (editForm.get('idUsuarioRegistro')!.dirty || editForm.get('idUsuarioRegistro')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('idUsuarioRegistro')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('idUsuarioRegistro')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.pagos.alumnos" for="field_alumnos">Alumnos</label>
          <select
            class="form-control"
            id="field_alumnos"
            data-cy="alumnos"
            name="alumnos"
            formControlName="alumnos"
            [compareWith]="compareAlumnos"
          >
            <option *ngIf="editForm.get(['alumnos'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="alumnosOption" *ngFor="let alumnosOption of alumnosSharedCollection">
              {{ alumnosOption.nombreCompleto }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['alumnos'])!.invalid && (editForm.get(['alumnos'])!.dirty || editForm.get(['alumnos'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['alumnos'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Este campo es obligatorio.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.pagos.funcionarios" for="field_funcionarios">Funcionarios</label>
          <select
            class="form-control"
            id="field_funcionarios"
            data-cy="funcionarios"
            name="funcionarios"
            formControlName="funcionarios"
            [compareWith]="compareFuncionarios"
          >
            <option *ngIf="editForm.get(['funcionarios'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="funcionariosOption" *ngFor="let funcionariosOption of funcionariosSharedCollection">
              {{ funcionariosOption.nombreCompleto }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['funcionarios'])!.invalid && (editForm.get(['funcionarios'])!.dirty || editForm.get(['funcionarios'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['funcionarios'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Este campo es obligatorio.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
