<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-prestamos-heading" data-cy="PrestamosCreateUpdateHeading" jhiTranslate="abfApp.prestamos.home.createOrEditLabel">
        Crear o editar Prestamos
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.prestamos.fechaPrestamo" for="field_fechaPrestamo">Fecha Prestamo</label>
          <div class="input-group">
            <input
              id="field_fechaPrestamo"
              data-cy="fechaPrestamo"
              type="text"
              class="form-control"
              name="fechaPrestamo"
              ngbDatepicker
              #fechaPrestamoDp="ngbDatepicker"
              formControlName="fechaPrestamo"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaPrestamoDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="
              editForm.get('fechaPrestamo')!.invalid && (editForm.get('fechaPrestamo')!.dirty || editForm.get('fechaPrestamo')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fechaPrestamo')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.prestamos.fechaDevolucion" for="field_fechaDevolucion">Fecha Devolucion</label>
          <div class="input-group">
            <input
              id="field_fechaDevolucion"
              data-cy="fechaDevolucion"
              type="text"
              class="form-control"
              name="fechaDevolucion"
              ngbDatepicker
              #fechaDevolucionDp="ngbDatepicker"
              formControlName="fechaDevolucion"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaDevolucionDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.prestamos.estado" for="field_estado">Estado</label>
          <select class="form-control" name="estado" formControlName="estado" id="field_estado" data-cy="estado">
            <option [ngValue]="null">{{ 'abfApp.EstadosPrestamos.null' | translate }}</option>
            <option *ngFor="let estadosPrestamos of estadosPrestamosValues" [value]="estadosPrestamos">
              {{ 'abfApp.EstadosPrestamos.' + estadosPrestamos | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('estado')!.invalid && (editForm.get('estado')!.dirty || editForm.get('estado')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('estado')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.prestamos.observaciones" for="field_observaciones">Observaciones</label>
          <input
            type="text"
            class="form-control"
            name="observaciones"
            id="field_observaciones"
            data-cy="observaciones"
            formControlName="observaciones"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.prestamos.materiales" for="field_materiales">Materiales</label>
          <select
            class="form-control"
            id="field_materiales"
            data-cy="materiales"
            name="materiales"
            formControlName="materiales"
            [compareWith]="compareMateriales"
          >
            <option *ngIf="editForm.get(['materiales'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="materialesOption" *ngFor="let materialesOption of materialesSharedCollection">
              {{ materialesOption.descripcion }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['materiales'])!.invalid && (editForm.get(['materiales'])!.dirty || editForm.get(['materiales'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['materiales'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Este campo es obligatorio.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.prestamos.alumnos" for="field_alumnos">Alumnos</label>
          <select
            class="form-control"
            id="field_alumnos"
            data-cy="alumnos"
            name="alumnos"
            formControlName="alumnos"
            [compareWith]="compareAlumnos"
          >
            <option *ngIf="editForm.get(['alumnos'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="alumnosOption" *ngFor="let alumnosOption of alumnosSharedCollection">
              {{ alumnosOption.nombreCompleto }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['alumnos'])!.invalid && (editForm.get(['alumnos'])!.dirty || editForm.get(['alumnos'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['alumnos'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Este campo es obligatorio.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
