<div>
  <h2 id="page-heading" data-cy="AlumnosHeading">
    <span jhiTranslate="abfApp.alumnos.home.title">Alumnos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="abfApp.alumnos.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-alumnos"
        [routerLink]="['/alumnos/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="abfApp.alumnos.home.createLabel"> Crear nuevo Alumnos </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="alumnos?.length === 0">
    <span jhiTranslate="abfApp.alumnos.home.notFound">Ningún Alumnos encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="alumnos && alumnos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="elo">
            <div class="d-flex">
              <span jhiTranslate="abfApp.alumnos.elo">Elo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fideId">
            <div class="d-flex">
              <span jhiTranslate="abfApp.alumnos.fideId">Fide Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombres">
            <div class="d-flex">
              <span jhiTranslate="abfApp.alumnos.nombres">Nombres</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="apellidos">
            <div class="d-flex">
              <span jhiTranslate="abfApp.alumnos.apellidos">Apellidos</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombreCompleto">
            <div class="d-flex">
              <span jhiTranslate="abfApp.alumnos.nombreCompleto">Nombre Completo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span jhiTranslate="abfApp.alumnos.email">Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="telefono">
            <div class="d-flex">
              <span jhiTranslate="abfApp.alumnos.telefono">Telefono</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fechaNacimiento">
            <div class="d-flex">
              <span jhiTranslate="abfApp.alumnos.fechaNacimiento">Fecha Nacimiento</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="documento">
            <div class="d-flex">
              <span jhiTranslate="abfApp.alumnos.documento">Documento</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="estado">
            <div class="d-flex">
              <span jhiTranslate="abfApp.alumnos.estado">Estado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tipoDocumentos.descripcion">
            <div class="d-flex">
              <span jhiTranslate="abfApp.alumnos.tipoDocumentos">Tipo Documentos</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumnos of alumnos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/alumnos', alumnos.id, 'view']">{{ alumnos.id }}</a>
          </td>
          <td>{{ alumnos.elo }}</td>
          <td>{{ alumnos.fideId }}</td>
          <td>{{ alumnos.nombres }}</td>
          <td>{{ alumnos.apellidos }}</td>
          <td>{{ alumnos.nombreCompleto }}</td>
          <td>{{ alumnos.email }}</td>
          <td>{{ alumnos.telefono }}</td>
          <td>{{ alumnos.fechaNacimiento | formatMediumDate }}</td>
          <td>{{ alumnos.documento }}</td>
          <td jhiTranslate="{{ 'abfApp.EstadosPersona.' + alumnos.estado }}">{{ alumnos.estado }}</td>
          <td>
            <div *ngIf="alumnos.tipoDocumentos">
              <a [routerLink]="['/tipos-documentos', alumnos.tipoDocumentos.id, 'view']">{{ alumnos.tipoDocumentos.descripcion }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/matricula']"
                [queryParams]="{ 'filter[alumnosId.in]': alumnos.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('abfApp.alumnos.matricula' | translate) }"
                  >Show Matricula</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/registro-clases']"
                [queryParams]="{ 'filter[alumnosId.in]': alumnos.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('abfApp.alumnos.registroClases' | translate) }"
                  >Show Registro Clases</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/pagos']"
                [queryParams]="{ 'filter[alumnosId.in]': alumnos.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('abfApp.alumnos.pagos' | translate) }"
                  >Show Pagos</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/evaluaciones']"
                [queryParams]="{ 'filter[alumnosId.in]': alumnos.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('abfApp.alumnos.evaluaciones' | translate) }"
                  >Show Evaluaciones</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/inscripciones']"
                [queryParams]="{ 'filter[alumnosId.in]': alumnos.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('abfApp.alumnos.inscripciones' | translate) }"
                  >Show Inscripciones</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/alumnos', alumnos.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/alumnos', alumnos.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(alumnos)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="alumnos && alumnos.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
