<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="fichaPartidasTorneos">
      <h2 data-cy="fichaPartidasTorneosDetailsHeading">
        <span jhiTranslate="abfApp.fichaPartidasTorneos.detail.title">Ficha Partidas Torneos</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ fichaPartidasTorneos.id }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.fichaPartidasTorneos.nombreContrincante">Nombre Contrincante</span></dt>
        <dd>
          <span>{{ fichaPartidasTorneos.nombreContrincante }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.fichaPartidasTorneos.duracion">Duracion</span></dt>
        <dd>
          <span>{{ fichaPartidasTorneos.duracion }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.fichaPartidasTorneos.winner">Winner</span></dt>
        <dd>
          <span>{{ fichaPartidasTorneos.winner }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.fichaPartidasTorneos.resultado">Resultado</span></dt>
        <dd>
          <span>{{ fichaPartidasTorneos.resultado }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.fichaPartidasTorneos.comentarios">Comentarios</span></dt>
        <dd>
          <span>{{ fichaPartidasTorneos.comentarios }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.fichaPartidasTorneos.nombreArbitro">Nombre Arbitro</span></dt>
        <dd>
          <span>{{ fichaPartidasTorneos.nombreArbitro }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.fichaPartidasTorneos.torneos">Torneos</span></dt>
        <dd>
          <div *ngIf="fichaPartidasTorneos.torneos">
            <a [routerLink]="['/torneos', fichaPartidasTorneos.torneos.id, 'view']">{{ fichaPartidasTorneos.torneos.nombreTorneo }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/ficha-partidas-torneos', fichaPartidasTorneos.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
