<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-punto-de-expedicion-heading"
        data-cy="PuntoDeExpedicionCreateUpdateHeading"
        jhiTranslate="abfApp.puntoDeExpedicion.home.createOrEditLabel"
      >
        Create or edit a Punto De Expedicion
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.puntoDeExpedicion.numeroPuntoDeExpedicion" for="field_numeroPuntoDeExpedicion"
            >Numero Punto De Expedicion</label
          >
          <input
            type="number"
            class="form-control"
            name="numeroPuntoDeExpedicion"
            id="field_numeroPuntoDeExpedicion"
            data-cy="numeroPuntoDeExpedicion"
            formControlName="numeroPuntoDeExpedicion"
          />
          <div
            *ngIf="
              editForm.get('numeroPuntoDeExpedicion')!.invalid &&
              (editForm.get('numeroPuntoDeExpedicion')!.dirty || editForm.get('numeroPuntoDeExpedicion')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numeroPuntoDeExpedicion')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('numeroPuntoDeExpedicion')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.puntoDeExpedicion.sucursales" for="field_sucursales">Sucursales</label>
          <select
            class="form-control"
            id="field_sucursales"
            data-cy="sucursales"
            name="sucursales"
            formControlName="sucursales"
            [compareWith]="compareSucursales"
          >
            <option *ngIf="editForm.get(['sucursales'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="sucursalesOption" *ngFor="let sucursalesOption of sucursalesSharedCollection">
              {{ sucursalesOption.nombreSucursal }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['sucursales'])!.invalid && (editForm.get(['sucursales'])!.dirty || editForm.get(['sucursales'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['sucursales'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
