<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-materiales-heading" data-cy="MaterialesCreateUpdateHeading" jhiTranslate="abfApp.materiales.home.createOrEditLabel">
        Crear o editar Materiales
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.materiales.descripcion" for="field_descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
          <div *ngIf="editForm.get('descripcion')!.invalid && (editForm.get('descripcion')!.dirty || editForm.get('descripcion')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('descripcion')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.materiales.cantidad" for="field_cantidad">Cantidad</label>
          <input
            (change)="changeCantidad()"
            type="number"
            class="form-control"
            name="cantidad"
            id="field_cantidad"
            data-cy="cantidad"
            formControlName="cantidad"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.materiales.cantidadEnPrestamo" for="field_cantidadEnPrestamo"
            >Cantidad En Prestamo</label
          >
          <input
            type="number"
            class="form-control"
            name="cantidadEnPrestamo"
            id="field_cantidadEnPrestamo"
            data-cy="cantidadEnPrestamo"
            formControlName="cantidadEnPrestamo"
          />
        </div>

        <div class="row mb-3" *ngIf="!(diferencia === 0)">
          <label class="form-label" for="field_cantidadEnPrestamo">Comentario de modificación de Stock</label>
          <input
            type="text"
            class="form-control"
            name="comentario"
            id="field_comentario"
            data-cy="comentario"
            formControlName="comentario"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
