<div>
  <h2 id="page-heading" data-cy="PagosHeading">
    <span jhiTranslate="abfApp.pagos.home.title">Pagos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="abfApp.pagos.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pagos"
        [routerLink]="['/pagos/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="abfApp.pagos.home.createLabel"> Crear nuevo Pagos </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="pagos?.length === 0">
    <span jhiTranslate="abfApp.pagos.home.notFound">Ningún Pagos encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="pagos && pagos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="montoPago">
            <div class="d-flex">
              <span jhiTranslate="abfApp.pagos.montoPago">Monto Pago</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="montoInicial">
            <div class="d-flex">
              <span jhiTranslate="abfApp.pagos.montoInicial">Monto Inicial</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="saldo">
            <div class="d-flex">
              <span jhiTranslate="abfApp.pagos.saldo">Saldo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fechaRegistro">
            <div class="d-flex">
              <span jhiTranslate="abfApp.pagos.fechaRegistro">Fecha Registro</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fechaPago">
            <div class="d-flex">
              <span jhiTranslate="abfApp.pagos.fechaPago">Fecha Pago</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tipoPago">
            <div class="d-flex">
              <span jhiTranslate="abfApp.pagos.tipoPago">Tipo Pago</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="descripcion">
            <div class="d-flex">
              <span jhiTranslate="abfApp.pagos.descripcion">Descripcion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="idUsuarioRegistro">
            <div class="d-flex">
              <span jhiTranslate="abfApp.pagos.idUsuarioRegistro">Id Usuario Registro</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alumnos.nombreCompleto">
            <div class="d-flex">
              <span jhiTranslate="abfApp.pagos.alumnos">Alumnos</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="funcionarios.nombreCompleto">
            <div class="d-flex">
              <span jhiTranslate="abfApp.pagos.funcionarios">Funcionarios</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pagos of pagos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pagos', pagos.id, 'view']">{{ pagos.id }}</a>
          </td>
          <td>{{ pagos.montoPago }}</td>
          <td>{{ pagos.montoInicial }}</td>
          <td>{{ pagos.saldo }}</td>
          <td>{{ pagos.fechaRegistro | formatMediumDate }}</td>
          <td>{{ pagos.fechaPago | formatMediumDate }}</td>
          <td>{{ pagos.tipoPago }}</td>
          <td>{{ pagos.descripcion }}</td>
          <td>{{ pagos.idUsuarioRegistro }}</td>
          <td>
            <div *ngIf="pagos.alumnos">
              <a [routerLink]="['/alumnos', pagos.alumnos.id, 'view']">{{ pagos.alumnos.nombreCompleto }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="pagos.funcionarios">
              <a [routerLink]="['/funcionarios', pagos.funcionarios.id, 'view']">{{ pagos.funcionarios.nombreCompleto }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/pagos', pagos.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button type="submit" [routerLink]="['/pagos', pagos.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(pagos)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="pagos && pagos.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
