<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cursos-heading" data-cy="CursosCreateUpdateHeading" jhiTranslate="abfApp.cursos.home.createOrEditLabel">
        Crear o editar Cursos
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.cursos.nombreCurso" for="field_nombreCurso">Nombre del curso</label>
          <input
            type="text"
            class="form-control"
            name="nombreCurso"
            id="field_nombreCurso"
            data-cy="nombreCurso"
            formControlName="nombreCurso"
          />
          <div *ngIf="editForm.get('nombreCurso')!.invalid && (editForm.get('nombreCurso')!.dirty || editForm.get('nombreCurso')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nombreCurso')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.cursos.descripcion" for="field_descripcion">Descripción</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
          <div *ngIf="editForm.get('descripcion')!.invalid && (editForm.get('descripcion')!.dirty || editForm.get('descripcion')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('descripcion')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.cursos.fechaInicio" for="field_fechaInicio">Fecha de inicio</label>
          <div class="input-group">
            <input
              id="field_fechaInicio"
              data-cy="fechaInicio"
              type="text"
              class="form-control"
              name="fechaInicio"
              ngbDatepicker
              #fechaInicioDp="ngbDatepicker"
              formControlName="fechaInicio"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaInicioDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.cursos.fechaFin" for="field_fechaFin">Fecha fin</label>
          <div class="input-group">
            <input
              id="field_fechaFin"
              data-cy="fechaFin"
              type="text"
              class="form-control"
              name="fechaFin"
              ngbDatepicker
              #fechaFinDp="ngbDatepicker"
              formControlName="fechaFin"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaFinDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.cursos.cantidadClases" for="field_cantidadClases">Cantidad de clases</label>
          <input
            type="number"
            class="form-control"
            name="cantidadClases"
            id="field_cantidadClases"
            data-cy="cantidadClases"
            formControlName="cantidadClases"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.cursos.nivel" for="field_nivel">Nivel</label>
          <select class="form-control" name="nivel" formControlName="nivel" id="field_nivel" data-cy="nivel">
            <option [ngValue]="null">{{ 'abfApp.Niveles.null' | translate }}</option>
            <option *ngFor="let niveles of nivelesValues" [value]="niveles">{{ 'abfApp.Niveles.' + niveles | translate }}</option>
          </select>
          <div *ngIf="editForm.get('nivel')!.invalid && (editForm.get('nivel')!.dirty || editForm.get('nivel')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nivel')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="abfApp.cursos.temas" for="field_temas">Temas</label>
          <select
            class="form-control"
            id="field_temas"
            data-cy="temas"
            multiple
            name="temas"
            formControlName="temas"
            [compareWith]="compareTemas"
          >
            <option [ngValue]="temasOption" *ngFor="let temasOption of temasSharedCollection">{{ temasOption.titulo }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
