<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-productos-heading" data-cy="ProductosCreateUpdateHeading" jhiTranslate="abfApp.productos.home.createOrEditLabel">
        Crear o editar Productos
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.productos.tipoProducto" for="field_tipoProducto">Tipo Producto</label>
          <select class="form-control" name="tipoProducto" formControlName="tipoProducto" id="field_tipoProducto" data-cy="tipoProducto">
            <option [ngValue]="null">{{ 'abfApp.TipoProductos.null' | translate }}</option>
            <option *ngFor="let tipoProductos of tipoProductosValues" [value]="tipoProductos">
              {{ 'abfApp.TipoProductos.' + tipoProductos | translate }}
            </option>
          </select>
          <div
            *ngIf="editForm.get('tipoProducto')!.invalid && (editForm.get('tipoProducto')!.dirty || editForm.get('tipoProducto')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tipoProducto')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_precioUnitario">Precio Unitario</label>
          <input
            type="number"
            class="form-control"
            name="precioUnitario"
            id="field_precioUnitario"
            data-cy="precioUnitario"
            formControlName="precioUnitario"
          />
          <div
            *ngIf="
              editForm.get('precioUnitario')!.invalid && (editForm.get('precioUnitario')!.dirty || editForm.get('precioUnitario')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('precioUnitario')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('precioUnitario')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_porcentajeIva">PORCENTAJE IVA</label>
          <input
            type="number"
            class="form-control"
            name="porcentajeIva"
            id="field_porcentajeIva"
            data-cy="porcentajeIva"
            formControlName="porcentajeIva"
          />
          <div
            *ngIf="
              editForm.get('porcentajeIva')!.invalid && (editForm.get('porcentajeIva')!.dirty || editForm.get('porcentajeIva')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('porcentajeIva')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('porcentajeIva')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.productos.descripcion" for="field_descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
          <div *ngIf="editForm.get('descripcion')!.invalid && (editForm.get('descripcion')!.dirty || editForm.get('descripcion')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('descripcion')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
