<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="prestamos">
      <h2 data-cy="prestamosDetailsHeading"><span jhiTranslate="abfApp.prestamos.detail.title">Prestamos</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ prestamos.id }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.prestamos.fechaPrestamo">Fecha Prestamo</span></dt>
        <dd>
          <span>{{ prestamos.fechaPrestamo | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.prestamos.fechaDevolucion">Fecha Devolucion</span></dt>
        <dd>
          <span>{{ prestamos.fechaDevolucion | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.prestamos.estado">Estado</span></dt>
        <dd>
          <span jhiTranslate="{{ 'abfApp.EstadosPrestamos.' + prestamos.estado }}">{{ prestamos.estado }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.prestamos.observaciones">Observaciones</span></dt>
        <dd>
          <span>{{ prestamos.observaciones }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.prestamos.materiales">Materiales</span></dt>
        <dd>
          <div *ngIf="prestamos.materiales">
            <a [routerLink]="['/materiales', prestamos.materiales.id, 'view']">{{ prestamos.materiales.descripcion }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="abfApp.prestamos.alumnos">Alumnos</span></dt>
        <dd>
          <div *ngIf="prestamos.alumnos">
            <a [routerLink]="['/alumnos', prestamos.alumnos.id, 'view']">{{ prestamos.alumnos.nombreCompleto }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/prestamos', prestamos.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
