<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="mallaCurricular">
      <h2 data-cy="mallaCurricularDetailsHeading"><span jhiTranslate="abfApp.mallaCurricular.detail.title">Malla Curricular</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ mallaCurricular.id }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.mallaCurricular.titulo">Titulo</span></dt>
        <dd>
          <span>{{ mallaCurricular.titulo }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.mallaCurricular.nivel">Nivel</span></dt>
        <dd>
          <span jhiTranslate="{{ 'abfApp.Niveles.' + mallaCurricular.nivel }}">{{ mallaCurricular.nivel }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.mallaCurricular.temas">Temas</span></dt>
        <dd>
          <span *ngFor="let temas of mallaCurricular.temas; let last = last">
            <a [routerLink]="['/temas', temas.id, 'view']">{{ temas.titulo }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/malla-curricular', mallaCurricular.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
