<div>
  <h2 id="page-heading" data-cy="TorneosHeading">
    <span jhiTranslate="abfApp.torneos.home.title">Torneos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="abfApp.torneos.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-torneos"
        [routerLink]="['/torneos/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="abfApp.torneos.home.createLabel"> Crear nuevo Torneos </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="torneos?.length === 0">
    <span jhiTranslate="abfApp.torneos.home.notFound">Ningún Torneos encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="torneos && torneos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombreTorneo">
            <div class="d-flex">
              <span jhiTranslate="abfApp.torneos.nombreTorneo">Nombre Torneo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fechaInicio">
            <div class="d-flex">
              <span jhiTranslate="abfApp.torneos.fechaInicio">Fecha Inicio</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fechaFin">
            <div class="d-flex">
              <span jhiTranslate="abfApp.torneos.fechaFin">Fecha Fin</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lugar">
            <div class="d-flex">
              <span jhiTranslate="abfApp.torneos.lugar">Lugar</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tiempo">
            <div class="d-flex">
              <span jhiTranslate="abfApp.torneos.tiempo">Tiempo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tipoTorneo">
            <div class="d-flex">
              <span jhiTranslate="abfApp.torneos.tipoTorneo">Tipo Torneo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="torneoEvaluado">
            <div class="d-flex">
              <span jhiTranslate="abfApp.torneos.torneoEvaluado">Torneo Evaluado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="federado">
            <div class="d-flex">
              <span jhiTranslate="abfApp.torneos.federado">Federado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let torneos of torneos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/torneos', torneos.id, 'view']">{{ torneos.id }}</a>
          </td>
          <td>{{ torneos.nombreTorneo }}</td>
          <td>{{ torneos.fechaInicio | formatMediumDate }}</td>
          <td>{{ torneos.fechaFin | formatMediumDate }}</td>
          <td>{{ torneos.lugar }}</td>
          <td>{{ torneos.tiempo }}</td>
          <td>{{ torneos.tipoTorneo }}</td>
          <td>{{ torneos.torneoEvaluado }}</td>
          <td>{{ torneos.federado }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ficha-partidas-torneos']"
                [queryParams]="{ 'filter[torneosId.in]': torneos.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('abfApp.torneos.fichaPartidasTorneos' | translate) }"
                  >Show Ficha Partidas Torneos</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/torneos', torneos.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/torneos', torneos.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(torneos)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="torneos && torneos.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
