<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-torneos-heading" data-cy="TorneosCreateUpdateHeading" jhiTranslate="abfApp.torneos.home.createOrEditLabel">
        Crear o editar Torneos
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.torneos.nombreTorneo" for="field_nombreTorneo">Nombre Torneo</label>
          <input
            type="text"
            class="form-control"
            name="nombreTorneo"
            id="field_nombreTorneo"
            data-cy="nombreTorneo"
            formControlName="nombreTorneo"
          />
          <div
            *ngIf="editForm.get('nombreTorneo')!.invalid && (editForm.get('nombreTorneo')!.dirty || editForm.get('nombreTorneo')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nombreTorneo')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.torneos.fechaInicio" for="field_fechaInicio">Fecha Inicio</label>
          <div class="input-group">
            <input
              id="field_fechaInicio"
              data-cy="fechaInicio"
              type="text"
              class="form-control"
              name="fechaInicio"
              ngbDatepicker
              #fechaInicioDp="ngbDatepicker"
              formControlName="fechaInicio"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaInicioDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div *ngIf="editForm.get('fechaInicio')!.invalid && (editForm.get('fechaInicio')!.dirty || editForm.get('fechaInicio')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fechaInicio')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.torneos.fechaFin" for="field_fechaFin">Fecha Fin</label>
          <div class="input-group">
            <input
              id="field_fechaFin"
              data-cy="fechaFin"
              type="text"
              class="form-control"
              name="fechaFin"
              ngbDatepicker
              #fechaFinDp="ngbDatepicker"
              formControlName="fechaFin"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaFinDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('fechaFin')!.invalid && (editForm.get('fechaFin')!.dirty || editForm.get('fechaFin')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fechaFin')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.torneos.lugar" for="field_lugar">Lugar</label>
          <input type="text" class="form-control" name="lugar" id="field_lugar" data-cy="lugar" formControlName="lugar" />
          <div *ngIf="editForm.get('lugar')!.invalid && (editForm.get('lugar')!.dirty || editForm.get('lugar')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('lugar')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.torneos.tiempo" for="field_tiempo">Tiempo</label>
          <input type="text" class="form-control" name="tiempo" id="field_tiempo" data-cy="tiempo" formControlName="tiempo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.torneos.tipoTorneo" for="field_tipoTorneo">Tipo Torneo</label>
          <input
            type="text"
            class="form-control"
            name="tipoTorneo"
            id="field_tipoTorneo"
            data-cy="tipoTorneo"
            formControlName="tipoTorneo"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.torneos.torneoEvaluado" for="field_torneoEvaluado">Torneo Evaluado</label>
          <input
            type="checkbox"
            class="form-check"
            name="torneoEvaluado"
            id="field_torneoEvaluado"
            data-cy="torneoEvaluado"
            formControlName="torneoEvaluado"
          />
          <div
            *ngIf="
              editForm.get('torneoEvaluado')!.invalid && (editForm.get('torneoEvaluado')!.dirty || editForm.get('torneoEvaluado')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('torneoEvaluado')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.torneos.federado" for="field_federado">Federado</label>
          <input type="checkbox" class="form-check" name="federado" id="field_federado" data-cy="federado" formControlName="federado" />
          <div *ngIf="editForm.get('federado')!.invalid && (editForm.get('federado')!.dirty || editForm.get('federado')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('federado')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
