<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="inscripciones">
      <h2 data-cy="inscripcionesDetailsHeading"><span jhiTranslate="abfApp.inscripciones.detail.title">Inscripciones</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ inscripciones.id }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.inscripciones.fechaInscripcion">Fecha Inscripcion</span></dt>
        <dd>
          <span>{{ inscripciones.fechaInscripcion | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.inscripciones.alumnos">Alumnos</span></dt>
        <dd>
          <div *ngIf="inscripciones.alumnos">
            <a [routerLink]="['/alumnos', inscripciones.alumnos.id, 'view']">{{ inscripciones.alumnos.nombreCompleto }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="abfApp.inscripciones.cursos">Cursos</span></dt>
        <dd>
          <div *ngIf="inscripciones.cursos">
            <a [routerLink]="['/cursos', inscripciones.cursos.id, 'view']">{{ inscripciones.cursos.nombreCurso }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/inscripciones', inscripciones.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
