<div>
  <h2 id="page-heading" data-cy="EvaluacionesHeading">
    <span jhiTranslate="abfApp.evaluaciones.home.title">Evaluaciones</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="abfApp.evaluaciones.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-evaluaciones"
        [routerLink]="['/evaluaciones/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="abfApp.evaluaciones.home.createLabel"> Crear nuevo Evaluaciones </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="evaluaciones?.length === 0">
    <span jhiTranslate="abfApp.evaluaciones.home.notFound">Ningún Evaluaciones encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="evaluaciones && evaluaciones.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nroEvaluacion">
            <div class="d-flex">
              <span jhiTranslate="abfApp.evaluaciones.nroEvaluacion">Nro Evaluacion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fecha">
            <div class="d-flex">
              <span jhiTranslate="abfApp.evaluaciones.fecha">Fecha</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alumnos.nombreCompleto">
            <div class="d-flex">
              <span jhiTranslate="abfApp.evaluaciones.alumnos">Alumnos</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="funcionarios.nombreCompleto">
            <div class="d-flex">
              <span jhiTranslate="abfApp.evaluaciones.funcionarios">Funcionarios</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evaluaciones of evaluaciones; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/evaluaciones', evaluaciones.id, 'view']">{{ evaluaciones.id }}</a>
          </td>
          <td>{{ evaluaciones.nroEvaluacion }}</td>
          <td>{{ evaluaciones.fecha | formatMediumDate }}</td>
          <td>
            <div *ngIf="evaluaciones.alumnos">
              <a [routerLink]="['/alumnos', evaluaciones.alumnos.id, 'view']">{{ evaluaciones.alumnos.nombreCompleto }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="evaluaciones.funcionarios">
              <a [routerLink]="['/funcionarios', evaluaciones.funcionarios.id, 'view']">{{ evaluaciones.funcionarios.nombreCompleto }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/evaluaciones-detalle']"
                [queryParams]="{ 'filter[evaluacionesId.in]': evaluaciones.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('abfApp.evaluaciones.evaluacionesDetalle' | translate) }"
                  >Mostrar Evaluaciones Detalle</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/evaluaciones', evaluaciones.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/evaluaciones', evaluaciones.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(evaluaciones)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="evaluaciones && evaluaciones.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
