<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-matricula-heading" data-cy="MatriculaCreateUpdateHeading" jhiTranslate="abfApp.matricula.home.createOrEditLabel">
        Crear o editar Matricula
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.matricula.fechaInscripcion" for="field_fechaInscripcion">Fecha Inscripcion</label>
          <div class="input-group">
            <input
              id="field_fechaInscripcion"
              data-cy="fechaInscripcion"
              type="text"
              class="form-control"
              name="fechaInscripcion"
              ngbDatepicker
              #fechaInscripcionDp="ngbDatepicker"
              formControlName="fechaInscripcion"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaInscripcionDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="
              editForm.get('fechaInscripcion')!.invalid &&
              (editForm.get('fechaInscripcion')!.dirty || editForm.get('fechaInscripcion')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fechaInscripcion')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.matricula.fechaInicio" for="field_fechaInicio">Fecha Inicio</label>
          <div class="input-group">
            <input
              id="field_fechaInicio"
              data-cy="fechaInicio"
              type="text"
              class="form-control"
              name="fechaInicio"
              ngbDatepicker
              #fechaInicioDp="ngbDatepicker"
              formControlName="fechaInicio"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaInicioDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div *ngIf="editForm.get('fechaInicio')!.invalid && (editForm.get('fechaInicio')!.dirty || editForm.get('fechaInicio')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fechaInicio')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.matricula.fechaPago" for="field_fechaPago">Fecha Pago</label>
          <div class="input-group">
            <input
              id="field_fechaPago"
              data-cy="fechaPago"
              type="text"
              class="form-control"
              name="fechaPago"
              ngbDatepicker
              #fechaPagoDp="ngbDatepicker"
              formControlName="fechaPago"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaPagoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.matricula.estado" for="field_estado">Estado</label>
          <select class="form-control" name="estado" formControlName="estado" id="field_estado" data-cy="estado">
            <option [ngValue]="null">{{ 'abfApp.EstadosPagos.null' | translate }}</option>
            <option *ngFor="let estadosPagos of estadosPagosValues" [value]="estadosPagos">
              {{ 'abfApp.EstadosPagos.' + estadosPagos | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('estado')!.invalid && (editForm.get('estado')!.dirty || editForm.get('estado')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('estado')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.matricula.alumnos" for="field_alumnos">Alumnos</label>
          <select
            class="form-control"
            id="field_alumnos"
            data-cy="alumnos"
            name="alumnos"
            formControlName="alumnos"
            [compareWith]="compareAlumnos"
          >
            <option *ngIf="editForm.get(['alumnos'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="alumnosOption" *ngFor="let alumnosOption of alumnosSharedCollection">
              {{ alumnosOption.nombreCompleto }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['alumnos'])!.invalid && (editForm.get(['alumnos'])!.dirty || editForm.get(['alumnos'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['alumnos'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Este campo es obligatorio.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
