<div>
  <h2 id="page-heading" data-cy="FacturaDetalleHeading">
    <span jhiTranslate="abfApp.facturaDetalle.home.title">Factura Detalles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="abfApp.facturaDetalle.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-factura-detalle"
        [routerLink]="['/factura-detalle/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="abfApp.facturaDetalle.home.createLabel"> Crear nuevo Factura Detalle </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="facturaDetalles?.length === 0">
    <span jhiTranslate="abfApp.facturaDetalle.home.notFound">Ningún Factura Detalles encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="facturaDetalles && facturaDetalles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cantidad">
            <div class="d-flex">
              <span jhiTranslate="abfApp.facturaDetalle.cantidad">Cantidad</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="precioUnitario">
            <div class="d-flex">
              <span jhiTranslate="abfApp.facturaDetalle.precioUnitario">Precio Unitario</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="subtotal">
            <div class="d-flex">
              <span jhiTranslate="abfApp.facturaDetalle.subtotal">Subtotal</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="porcentajeIva">
            <div class="d-flex">
              <span jhiTranslate="abfApp.facturaDetalle.porcentajeIva">Porcentaje Iva</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="valorPorcentaje">
            <div class="d-flex">
              <span jhiTranslate="abfApp.facturaDetalle.valorPorcentaje">Valor Porcentaje</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="producto.descripcion">
            <div class="d-flex">
              <span jhiTranslate="abfApp.facturaDetalle.producto">Producto</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="factura.facturaNro">
            <div class="d-flex">
              <span jhiTranslate="abfApp.facturaDetalle.factura">Factura</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let facturaDetalle of facturaDetalles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/factura-detalle', facturaDetalle.id, 'view']">{{ facturaDetalle.id }}</a>
          </td>
          <td>{{ facturaDetalle.cantidad }}</td>
          <td>{{ facturaDetalle.precioUnitario }}</td>
          <td>{{ facturaDetalle.subtotal }}</td>
          <td>{{ facturaDetalle.porcentajeIva }}</td>
          <td>{{ facturaDetalle.valorPorcentaje }}</td>
          <td>
            <div *ngIf="facturaDetalle.producto">
              <a [routerLink]="['/productos', facturaDetalle.producto.id, 'view']">{{ facturaDetalle.producto.descripcion }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="facturaDetalle.factura">
              <a [routerLink]="['/facturas', facturaDetalle.factura.id, 'view']">{{ facturaDetalle.factura.facturaNro }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/factura-detalle', facturaDetalle.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/factura-detalle', facturaDetalle.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(facturaDetalle)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="facturaDetalles && facturaDetalles.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
