<div>
  <h2 id="page-heading" data-cy="FichaPartidasTorneosHeading">
    <span jhiTranslate="abfApp.fichaPartidasTorneos.home.title">Ficha Partidas Torneos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="abfApp.fichaPartidasTorneos.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ficha-partidas-torneos"
        [routerLink]="['/ficha-partidas-torneos/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="abfApp.fichaPartidasTorneos.home.createLabel"> Crear nuevo Ficha Partidas Torneos </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="fichaPartidasTorneos?.length === 0">
    <span jhiTranslate="abfApp.fichaPartidasTorneos.home.notFound">Ningún Ficha Partidas Torneos encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="fichaPartidasTorneos && fichaPartidasTorneos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombreContrincante">
            <div class="d-flex">
              <span jhiTranslate="abfApp.fichaPartidasTorneos.nombreContrincante">Nombre Contrincante</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="duracion">
            <div class="d-flex">
              <span jhiTranslate="abfApp.fichaPartidasTorneos.duracion">Duracion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="winner">
            <div class="d-flex">
              <span jhiTranslate="abfApp.fichaPartidasTorneos.winner">Winner</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="resultado">
            <div class="d-flex">
              <span jhiTranslate="abfApp.fichaPartidasTorneos.resultado">Resultado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="comentarios">
            <div class="d-flex">
              <span jhiTranslate="abfApp.fichaPartidasTorneos.comentarios">Comentarios</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombreArbitro">
            <div class="d-flex">
              <span jhiTranslate="abfApp.fichaPartidasTorneos.nombreArbitro">Nombre Arbitro</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="torneos.nombreTorneo">
            <div class="d-flex">
              <span jhiTranslate="abfApp.fichaPartidasTorneos.torneos">Torneos</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fichaPartidasTorneos of fichaPartidasTorneos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ficha-partidas-torneos', fichaPartidasTorneos.id, 'view']">{{ fichaPartidasTorneos.id }}</a>
          </td>
          <td>{{ fichaPartidasTorneos.nombreContrincante }}</td>
          <td>{{ fichaPartidasTorneos.duracion }}</td>
          <td>{{ fichaPartidasTorneos.winner }}</td>
          <td>{{ fichaPartidasTorneos.resultado }}</td>
          <td>{{ fichaPartidasTorneos.comentarios }}</td>
          <td>{{ fichaPartidasTorneos.nombreArbitro }}</td>
          <td>
            <div *ngIf="fichaPartidasTorneos.torneos">
              <a [routerLink]="['/torneos', fichaPartidasTorneos.torneos.id, 'view']">{{ fichaPartidasTorneos.torneos.nombreTorneo }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ficha-partidas-torneos', fichaPartidasTorneos.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/ficha-partidas-torneos', fichaPartidasTorneos.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(fichaPartidasTorneos)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="fichaPartidasTorneos && fichaPartidasTorneos.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
