<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="pagos">
      <h2 data-cy="pagosDetailsHeading"><span jhiTranslate="abfApp.pagos.detail.title">Pagos</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ pagos.id }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.pagos.montoPago">Monto Pago</span></dt>
        <dd>
          <span>{{ pagos.montoPago }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.pagos.montoInicial">Monto Inicial</span></dt>
        <dd>
          <span>{{ pagos.montoInicial }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.pagos.saldo">Saldo</span></dt>
        <dd>
          <span>{{ pagos.saldo }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.pagos.fechaRegistro">Fecha Registro</span></dt>
        <dd>
          <span>{{ pagos.fechaRegistro | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.pagos.fechaPago">Fecha Pago</span></dt>
        <dd>
          <span>{{ pagos.fechaPago | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.pagos.tipoPago">Tipo Pago</span></dt>
        <dd>
          <span>{{ pagos.tipoPago }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.pagos.descripcion">Descripcion</span></dt>
        <dd>
          <span>{{ pagos.descripcion }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.pagos.idUsuarioRegistro">Id Usuario Registro</span></dt>
        <dd>
          <span>{{ pagos.idUsuarioRegistro }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.pagos.alumnos">Alumnos</span></dt>
        <dd>
          <div *ngIf="pagos.alumnos">
            <a [routerLink]="['/alumnos', pagos.alumnos.id, 'view']">{{ pagos.alumnos.nombreCompleto }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="abfApp.pagos.funcionarios">Funcionarios</span></dt>
        <dd>
          <div *ngIf="pagos.funcionarios">
            <a [routerLink]="['/funcionarios', pagos.funcionarios.id, 'view']">{{ pagos.funcionarios.nombreCompleto }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/pagos', pagos.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
