<div>
  <h2 id="page-heading" data-cy="PrestamosHeading">
    <span jhiTranslate="abfApp.prestamos.home.title">Prestamos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="abfApp.prestamos.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-prestamos"
        [routerLink]="['/prestamos/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="abfApp.prestamos.home.createLabel"> Create a new Prestamos </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="prestamos?.length === 0">
    <span jhiTranslate="abfApp.prestamos.home.notFound">No Prestamos found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="prestamos && prestamos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fechaPrestamo">
            <div class="d-flex">
              <span jhiTranslate="abfApp.prestamos.fechaPrestamo">Fecha Prestamo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fechaDevolucion">
            <div class="d-flex">
              <span jhiTranslate="abfApp.prestamos.fechaDevolucion">Fecha Devolucion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="estado">
            <div class="d-flex">
              <span jhiTranslate="abfApp.prestamos.estado">Estado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="materiales.descripcion">
            <div class="d-flex">
              <span jhiTranslate="abfApp.prestamos.materiales">Materiales</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alumnos.nombreCompleto">
            <div class="d-flex">
              <span jhiTranslate="abfApp.prestamos.alumnos">Alumnos</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prestamos of prestamos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/prestamos', prestamos.id, 'view']">{{ prestamos.id }}</a>
          </td>
          <td>{{ prestamos.fechaPrestamo | formatMediumDate }}</td>
          <td>{{ prestamos.fechaDevolucion | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'abfApp.EstadosPrestamos.' + prestamos.estado }}">{{ prestamos.estado }}</td>
          <td>
            <div *ngIf="prestamos.materiales">
              <a [routerLink]="['/materiales', prestamos.materiales.id, 'view']">{{ prestamos.materiales.descripcion }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="prestamos.alumnos">
              <a [routerLink]="['/alumnos', prestamos.alumnos.id, 'view']">{{ prestamos.alumnos.nombreCompleto }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/prestamos', prestamos.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/prestamos', prestamos.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(prestamos)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="prestamos && prestamos.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
