<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-malla-curricular-heading"
        data-cy="MallaCurricularCreateUpdateHeading"
        jhiTranslate="abfApp.mallaCurricular.home.createOrEditLabel"
      >
        Crear o editar Malla Curricular
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.mallaCurricular.titulo" for="field_titulo">Titulo</label>
          <input type="text" class="form-control" name="titulo" id="field_titulo" data-cy="titulo" formControlName="titulo" />
          <div *ngIf="editForm.get('titulo')!.invalid && (editForm.get('titulo')!.dirty || editForm.get('titulo')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('titulo')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.mallaCurricular.nivel" for="field_nivel">Nivel</label>
          <select class="form-control" name="nivel" formControlName="nivel" id="field_nivel" data-cy="nivel">
            <option [ngValue]="null">{{ 'abfApp.Niveles.null' | translate }}</option>
            <option *ngFor="let niveles of nivelesValues" [value]="niveles">{{ 'abfApp.Niveles.' + niveles | translate }}</option>
          </select>
          <div *ngIf="editForm.get('nivel')!.invalid && (editForm.get('nivel')!.dirty || editForm.get('nivel')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nivel')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="abfApp.mallaCurricular.temas" for="field_temas">Temas</label>
          <select
            class="form-control"
            id="field_temas"
            data-cy="temas"
            multiple
            name="temas"
            formControlName="temas"
            [compareWith]="compareTemas"
          >
            <option [ngValue]="temasOption" *ngFor="let temasOption of temasSharedCollection">{{ temasOption.titulo }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['temas'])!.invalid && (editForm.get(['temas'])!.dirty || editForm.get(['temas'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['temas'])?.errors?.required" jhiTranslate="entity.validation.required">
            Este campo es obligatorio.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
