<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="matricula">
      <h2 data-cy="matriculaDetailsHeading"><span jhiTranslate="abfApp.matricula.detail.title">Matricula</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ matricula.id }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.matricula.fechaInscripcion">Fecha Inscripcion</span></dt>
        <dd>
          <span>{{ matricula.fechaInscripcion | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.matricula.fechaInicio">Fecha Inicio</span></dt>
        <dd>
          <span>{{ matricula.fechaInicio | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.matricula.fechaPago">Fecha Pago</span></dt>
        <dd>
          <span>{{ matricula.fechaPago | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.matricula.estado">Estado</span></dt>
        <dd>
          <span jhiTranslate="{{ 'abfApp.EstadosPagos.' + matricula.estado }}">{{ matricula.estado }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.matricula.alumnos">Alumnos</span></dt>
        <dd>
          <div *ngIf="matricula.alumnos">
            <a [routerLink]="['/alumnos', matricula.alumnos.id, 'view']">{{ matricula.alumnos.nombreCompleto }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/matricula', matricula.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
