<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ficha-partidas-torneos-heading"
        data-cy="FichaPartidasTorneosCreateUpdateHeading"
        jhiTranslate="abfApp.fichaPartidasTorneos.home.createOrEditLabel"
      >
        Crear o editar Ficha Partidas Torneos
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.fichaPartidasTorneos.nombreContrincante" for="field_nombreContrincante"
            >Nombre Contrincante</label
          >
          <input
            type="text"
            class="form-control"
            name="nombreContrincante"
            id="field_nombreContrincante"
            data-cy="nombreContrincante"
            formControlName="nombreContrincante"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.fichaPartidasTorneos.duracion" for="field_duracion">Duracion</label>
          <input type="number" class="form-control" name="duracion" id="field_duracion" data-cy="duracion" formControlName="duracion" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.fichaPartidasTorneos.winner" for="field_winner">Winner</label>
          <input type="text" class="form-control" name="winner" id="field_winner" data-cy="winner" formControlName="winner" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.fichaPartidasTorneos.resultado" for="field_resultado">Resultado</label>
          <input type="text" class="form-control" name="resultado" id="field_resultado" data-cy="resultado" formControlName="resultado" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.fichaPartidasTorneos.comentarios" for="field_comentarios">Comentarios</label>
          <input
            type="text"
            class="form-control"
            name="comentarios"
            id="field_comentarios"
            data-cy="comentarios"
            formControlName="comentarios"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.fichaPartidasTorneos.nombreArbitro" for="field_nombreArbitro"
            >Nombre Arbitro</label
          >
          <input
            type="text"
            class="form-control"
            name="nombreArbitro"
            id="field_nombreArbitro"
            data-cy="nombreArbitro"
            formControlName="nombreArbitro"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.fichaPartidasTorneos.torneos" for="field_torneos">Torneos</label>
          <select
            class="form-control"
            id="field_torneos"
            data-cy="torneos"
            name="torneos"
            formControlName="torneos"
            [compareWith]="compareTorneos"
          >
            <option *ngIf="editForm.get(['torneos'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="torneosOption" *ngFor="let torneosOption of torneosSharedCollection">
              {{ torneosOption.nombreTorneo }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['torneos'])!.invalid && (editForm.get(['torneos'])!.dirty || editForm.get(['torneos'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['torneos'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Este campo es obligatorio.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
