<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="torneos">
      <h2 data-cy="torneosDetailsHeading"><span jhiTranslate="abfApp.torneos.detail.title">Torneos</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ torneos.id }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.torneos.nombreTorneo">Nombre Torneo</span></dt>
        <dd>
          <span>{{ torneos.nombreTorneo }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.torneos.fechaInicio">Fecha Inicio</span></dt>
        <dd>
          <span>{{ torneos.fechaInicio | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.torneos.fechaFin">Fecha Fin</span></dt>
        <dd>
          <span>{{ torneos.fechaFin | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.torneos.lugar">Lugar</span></dt>
        <dd>
          <span>{{ torneos.lugar }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.torneos.tiempo">Tiempo</span></dt>
        <dd>
          <span>{{ torneos.tiempo }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.torneos.tipoTorneo">Tipo Torneo</span></dt>
        <dd>
          <span>{{ torneos.tipoTorneo }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.torneos.torneoEvaluado">Torneo Evaluado</span></dt>
        <dd>
          <span>{{ torneos.torneoEvaluado }}</span>
        </dd>
        <dt><span jhiTranslate="abfApp.torneos.federado">Federado</span></dt>
        <dd>
          <span>{{ torneos.federado }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/torneos', torneos.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
