<div>
  <h2 id="page-heading" data-cy="NotaCreditoHeading">
    <span>Notas de Créditos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-nota-credito"
        [routerLink]="['/nota-credito/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Crear nueva Nota de Crédito </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="notaCreditos?.length === 0">
    <span>Ninguna Nota de crédito encontrada</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="notaCreditos && notaCreditos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fecha">
            <div class="d-flex">
              <!--<span jhiTranslate="abfApp.notaCredito.fecha">Fecha</span>-->
              <span>Fecha</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="timbrado">
            <div class="d-flex">
              <span>Timbrado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="notaNro">
            <div class="d-flex">
              <span>Nota Nro</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="puntoExpedicion">
            <div class="d-flex">
              <span>Punto de Expedición</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sucursal">
            <div class="d-flex">
              <span>Sucursal</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="razonSocial">
            <div class="d-flex">
              <span>Razón Social</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ruc">
            <div class="d-flex">
              <span>RUC</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="direccion">
            <div class="d-flex">
              <span>Dirección</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="motivoEmision">
            <div class="d-flex">
              <span>Motivo de emisión</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="estado">
            <div class="d-flex">
              <span>Estado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="total">
            <div class="d-flex">
              <span>Total</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="facturas.facturaNro">
            <div class="d-flex">
              <span>Facturas</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let notaCredito of notaCreditos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/nota-credito', notaCredito.id, 'view']">{{ notaCredito.id }}</a>
          </td>
          <td>{{ notaCredito.fecha | formatMediumDate }}</td>
          <td>{{ notaCredito.timbrado }}</td>
          <td>{{ notaCredito.notaNro }}</td>
          <td>{{ notaCredito.puntoExpedicion }}</td>
          <td>{{ notaCredito.sucursal }}</td>
          <td>{{ notaCredito.razonSocial }}</td>
          <td>{{ notaCredito.ruc }}</td>
          <td>{{ notaCredito.direccion }}</td>
          <td>{{ notaCredito.motivoEmision }}</td>
          <td>{{ notaCredito.estado }}</td>
          <td>{{ notaCredito.total }}</td>
          <td>
            <div *ngIf="notaCredito.facturas">
              <a [routerLink]="['/facturas', notaCredito.facturas.id, 'view']">{{ notaCredito.facturas.facturaNro }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" class="btn btn-warning btn-sm" (click)="descargar(notaCredito.id)">
                <fa-icon icon="save"></fa-icon>
                <span class="d-none d-md-inline">Descargar</span>
              </button>
              <button
                type="submit"
                [routerLink]="['/nota-credito-detalle']"
                [queryParams]="{ 'filter[notaCreditoId.in]': notaCredito.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Mostrar Detalle de nota de crédito</span>
              </button>
              <button
                type="submit"
                [routerLink]="['/nota-credito', notaCredito.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Ver</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/nota-credito', notaCredito.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Editar</span>
              </button>

              <button type="submit" (click)="delete(notaCredito)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>-->
                <span class="d-none d-md-inline">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="notaCreditos && notaCreditos.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
