<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-evaluaciones-heading" data-cy="EvaluacionesCreateUpdateHeading" jhiTranslate="abfApp.evaluaciones.home.createOrEditLabel">
        Crear o editar Evaluaciones
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.evaluaciones.tipoEvaluacion" for="field_tipoEvaluacion">Tipo Evaluacion</label>
          <input
            type="text"
            class="form-control"
            name="tipoEvaluacion"
            id="field_tipoEvaluacion"
            data-cy="tipoEvaluacion"
            formControlName="tipoEvaluacion"
          />
          <div
            *ngIf="
              editForm.get('tipoEvaluacion')!.invalid && (editForm.get('tipoEvaluacion')!.dirty || editForm.get('tipoEvaluacion')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tipoEvaluacion')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.evaluaciones.idExamen" for="field_idExamen">Id Examen</label>
          <input type="number" class="form-control" name="idExamen" id="field_idExamen" data-cy="idExamen" formControlName="idExamen" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.evaluaciones.idActa" for="field_idActa">Id Acta</label>
          <input type="number" class="form-control" name="idActa" id="field_idActa" data-cy="idActa" formControlName="idActa" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.evaluaciones.fecha" for="field_fecha">Fecha</label>
          <div class="input-group">
            <input
              id="field_fecha"
              data-cy="fecha"
              type="text"
              class="form-control"
              name="fecha"
              ngbDatepicker
              #fechaDp="ngbDatepicker"
              formControlName="fecha"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('fecha')!.invalid && (editForm.get('fecha')!.dirty || editForm.get('fecha')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('fecha')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.evaluaciones.puntosLogrados" for="field_puntosLogrados">Puntos Logrados</label>
          <input
            type="number"
            class="form-control"
            name="puntosLogrados"
            id="field_puntosLogrados"
            data-cy="puntosLogrados"
            formControlName="puntosLogrados"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.evaluaciones.porcentaje" for="field_porcentaje">Porcentaje</label>
          <input
            type="number"
            class="form-control"
            name="porcentaje"
            id="field_porcentaje"
            data-cy="porcentaje"
            formControlName="porcentaje"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.evaluaciones.comentarios" for="field_comentarios">Comentarios</label>
          <input
            type="text"
            class="form-control"
            name="comentarios"
            id="field_comentarios"
            data-cy="comentarios"
            formControlName="comentarios"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.evaluaciones.alumnos" for="field_alumnos">Alumnos</label>
          <select
            class="form-control"
            id="field_alumnos"
            data-cy="alumnos"
            name="alumnos"
            formControlName="alumnos"
            [compareWith]="compareAlumnos"
          >
            <option *ngIf="editForm.get(['alumnos'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="alumnosOption" *ngFor="let alumnosOption of alumnosSharedCollection">
              {{ alumnosOption.nombreCompleto }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['alumnos'])!.invalid && (editForm.get(['alumnos'])!.dirty || editForm.get(['alumnos'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['alumnos'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Este campo es obligatorio.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
