<div>
  <h2 id="page-heading" data-cy="MallaCurricularHeading">
    <span jhiTranslate="abfApp.mallaCurricular.home.title">Malla Curriculars</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="abfApp.mallaCurricular.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-malla-curricular"
        [routerLink]="['/malla-curricular/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="abfApp.mallaCurricular.home.createLabel"> Crear nuevo Malla Curricular </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="mallaCurriculars?.length === 0">
    <span jhiTranslate="abfApp.mallaCurricular.home.notFound">Ningún Malla Curriculars encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="mallaCurriculars && mallaCurriculars.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="titulo">
            <div class="d-flex">
              <span jhiTranslate="abfApp.mallaCurricular.titulo">Titulo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nivel">
            <div class="d-flex">
              <span jhiTranslate="abfApp.mallaCurricular.nivel">Nivel</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mallaCurricular of mallaCurriculars; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/malla-curricular', mallaCurricular.id, 'view']">{{ mallaCurricular.id }}</a>
          </td>
          <td>{{ mallaCurricular.titulo }}</td>
          <td jhiTranslate="{{ 'abfApp.Niveles.' + mallaCurricular.nivel }}">{{ mallaCurricular.nivel }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/registro-clases']"
                [queryParams]="{ 'filter[mallaCurricularId.in]': mallaCurricular.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('abfApp.mallaCurricular.registroClases' | translate) }"
                  >Show Registro Clases</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/malla-curricular', mallaCurricular.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/malla-curricular', mallaCurricular.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(mallaCurricular)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="mallaCurriculars && mallaCurriculars.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
