<div>
  <h2 id="page-heading" data-cy="ProductosHeading">
    <span jhiTranslate="abfApp.productos.home.title">Productos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="abfApp.productos.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-productos"
        [routerLink]="['/productos/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="abfApp.productos.home.createLabel"> Crear nuevo Productos </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="productos?.length === 0">
    <span jhiTranslate="abfApp.productos.home.notFound">Ningún Productos encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="productos && productos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tipoProducto">
            <div class="d-flex">
              <span jhiTranslate="abfApp.productos.tipoProducto">Tipo Producto</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="precioUnitario">
            <div class="d-flex">
              <span jhiTranslate="abfApp.productos.precioUnitario">Precio Unitario</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="porcentajeIva">
            <div class="d-flex">
              <span jhiTranslate="abfApp.productos.porcentajeIva">Porcentaje Iva</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="descripcion">
            <div class="d-flex">
              <span jhiTranslate="abfApp.productos.descripcion">Descripcion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productos of productos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/productos', productos.id, 'view']">{{ productos.id }}</a>
          </td>
          <td jhiTranslate="{{ 'abfApp.TipoProductos.' + productos.tipoProducto }}">{{ productos.tipoProducto }}</td>
          <td>{{ productos.precioUnitario }}</td>
          <td>{{ productos.porcentajeIva }}</td>
          <td>{{ productos.descripcion }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/pagos']"
                [queryParams]="{ 'filter[productoId.in]': productos.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('abfApp.productos.pagos' | translate) }"
                  >Mostrar Pagos</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/factura-detalle']"
                [queryParams]="{ 'filter[productoId.in]': productos.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('abfApp.productos.facturaDetalle' | translate) }"
                  >Mostrar Factura Detalle</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/nota-credito-detalle']"
                [queryParams]="{ 'filter[productoId.in]': productos.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('abfApp.productos.notaCreditoDetalle' | translate) }"
                  >Mostrar Nota Credito Detalle</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/productos', productos.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/productos', productos.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(productos)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="productos && productos.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
