<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-facturas-heading" data-cy="FacturasCreateUpdateHeading" jhiTranslate="abfApp.facturas.home.createOrEditLabel">
        Create or edit a Facturas
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.facturas.fecha" for="field_fecha">Fecha</label>
          <div class="input-group">
            <input
              id="field_fecha"
              data-cy="fecha"
              type="text"
              class="form-control"
              name="fecha"
              ngbDatepicker
              #fechaDp="ngbDatepicker"
              formControlName="fecha"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('fecha')!.invalid && (editForm.get('fecha')!.dirty || editForm.get('fecha')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('fecha')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.facturas.facturaNro" for="field_facturaNro">Factura Nro</label>
          <input
            type="text"
            class="form-control"
            name="facturaNro"
            id="field_facturaNro"
            data-cy="facturaNro"
            formControlName="facturaNro"
          />
          <div *ngIf="editForm.get('facturaNro')!.invalid && (editForm.get('facturaNro')!.dirty || editForm.get('facturaNro')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('facturaNro')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.facturas.timbrado" for="field_timbrado">Timbrado</label>
          <input type="number" class="form-control" name="timbrado" id="field_timbrado" data-cy="timbrado" formControlName="timbrado" />
          <div *ngIf="editForm.get('timbrado')!.invalid && (editForm.get('timbrado')!.dirty || editForm.get('timbrado')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('timbrado')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('timbrado')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.facturas.razonSocial" for="field_razonSocial">Razon Social</label>
          <input
            type="text"
            class="form-control"
            name="razonSocial"
            id="field_razonSocial"
            data-cy="razonSocial"
            formControlName="razonSocial"
          />
          <div *ngIf="editForm.get('razonSocial')!.invalid && (editForm.get('razonSocial')!.dirty || editForm.get('razonSocial')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('razonSocial')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.facturas.ruc" for="field_ruc">Ruc</label>
          <input type="text" class="form-control" name="ruc" id="field_ruc" data-cy="ruc" formControlName="ruc" />
          <div *ngIf="editForm.get('ruc')!.invalid && (editForm.get('ruc')!.dirty || editForm.get('ruc')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('ruc')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.facturas.condicionVenta" for="field_condicionVenta">Condicion Venta</label>
          <select
            class="form-control"
            name="condicionVenta"
            formControlName="condicionVenta"
            id="field_condicionVenta"
            data-cy="condicionVenta"
          >
            <option [ngValue]="null">{{ 'abfApp.CondicionVenta.null' | translate }}</option>
            <option *ngFor="let condicionVenta of condicionVentaValues" [value]="condicionVenta">
              {{ 'abfApp.CondicionVenta.' + condicionVenta | translate }}
            </option>
          </select>
          <div
            *ngIf="
              editForm.get('condicionVenta')!.invalid && (editForm.get('condicionVenta')!.dirty || editForm.get('condicionVenta')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('condicionVenta')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="abfApp.facturas.total" for="field_total">Total</label>
          <input type="number" class="form-control" name="total" id="field_total" data-cy="total" formControlName="total" />
          <div *ngIf="editForm.get('total')!.invalid && (editForm.get('total')!.dirty || editForm.get('total')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('total')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('total')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
