<div>
  <h2 id="page-heading" data-cy="FuncionariosHeading">
    <span jhiTranslate="abfApp.funcionarios.home.title">Funcionarios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="abfApp.funcionarios.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-funcionarios"
        [routerLink]="['/funcionarios/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="abfApp.funcionarios.home.createLabel"> Crear nuevo Funcionarios </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="funcionarios?.length === 0">
    <span jhiTranslate="abfApp.funcionarios.home.notFound">Ningún Funcionarios encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="funcionarios && funcionarios.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="elo">
            <div class="d-flex">
              <span jhiTranslate="abfApp.funcionarios.elo">Elo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fideId">
            <div class="d-flex">
              <span jhiTranslate="abfApp.funcionarios.fideId">Fide Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombres">
            <div class="d-flex">
              <span jhiTranslate="abfApp.funcionarios.nombres">Nombres</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="apellidos">
            <div class="d-flex">
              <span jhiTranslate="abfApp.funcionarios.apellidos">Apellidos</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombreCompleto">
            <div class="d-flex">
              <span jhiTranslate="abfApp.funcionarios.nombreCompleto">Nombre Completo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span jhiTranslate="abfApp.funcionarios.email">Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="telefono">
            <div class="d-flex">
              <span jhiTranslate="abfApp.funcionarios.telefono">Telefono</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fechaNacimiento">
            <div class="d-flex">
              <span jhiTranslate="abfApp.funcionarios.fechaNacimiento">Fecha Nacimiento</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="documento">
            <div class="d-flex">
              <span jhiTranslate="abfApp.funcionarios.documento">Documento</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="estado">
            <div class="d-flex">
              <span jhiTranslate="abfApp.funcionarios.estado">Estado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tipoFuncionario">
            <div class="d-flex">
              <span jhiTranslate="abfApp.funcionarios.tipoFuncionario">Tipo Funcionario</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tipoDocumentos.descripcion">
            <div class="d-flex">
              <span jhiTranslate="abfApp.funcionarios.tipoDocumentos">Tipo Documentos</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let funcionarios of funcionarios; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/funcionarios', funcionarios.id, 'view']">{{ funcionarios.id }}</a>
          </td>
          <td>{{ funcionarios.elo }}</td>
          <td>{{ funcionarios.fideId }}</td>
          <td>{{ funcionarios.nombres }}</td>
          <td>{{ funcionarios.apellidos }}</td>
          <td>{{ funcionarios.nombreCompleto }}</td>
          <td>{{ funcionarios.email }}</td>
          <td>{{ funcionarios.telefono }}</td>
          <td>{{ funcionarios.fechaNacimiento | formatMediumDate }}</td>
          <td>{{ funcionarios.documento }}</td>
          <td jhiTranslate="{{ 'abfApp.EstadosPersona.' + funcionarios.estado }}">{{ funcionarios.estado }}</td>
          <td jhiTranslate="{{ 'abfApp.TipoFuncionarios.' + funcionarios.tipoFuncionario }}">{{ funcionarios.tipoFuncionario }}</td>
          <td>
            <div *ngIf="funcionarios.tipoDocumentos">
              <a [routerLink]="['/tipos-documentos', funcionarios.tipoDocumentos.id, 'view']">{{
                funcionarios.tipoDocumentos.descripcion
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/registro-clases']"
                [queryParams]="{ 'filter[funcionariosId.in]': funcionarios.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('abfApp.funcionarios.registroClases' | translate) }"
                  >Show Registro Clases</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/funcionarios', funcionarios.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/funcionarios', funcionarios.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(funcionarios)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="funcionarios && funcionarios.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
